@charset "utf-8";
/*  초기화 */
*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
article{
    border: 1px solid red;
}
ul li{
    border: 1px solid blue;
}
/* float 블록요소 좌우로 배치 */
/* float left right */
/* 블록요소 안에 자식요소를 넣으면 부모의 블록 요소에 높이값을 지정하지 않습니다. 왜냐하면 부모요소가 자식요소의 높잇값을 자동으로 인지하여 감사주기 때문입니다. */
.wrap{
    width: 800px;
    margin: 100px auto;
    border: 5px solid black;
}

.wrap .left{
    width: 400px;
    height: 400px;
    background-color: pink;
    float:left;
}
.wrap .right{
    width: 400px;
    height: 400px;
    background-color: lightblue;
    float:left;
}
.wrap::after{
    content: '';
    display: block;
    clear: both;
}
/* 부모요소에서 자식요소에 대한 float 속성 해제 */
/* 
부모요소에서 자식요소에 float 속성이 적용되더라도 부모요소가 자식요소의 높이값을 인식하려면 float 속성을 해제해야함.
*/
.aa::before{
content: "";
display: block;
clear: both;
}
div{
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 1px solid black;
    float: left;
}