@charset "utf-8";

/* 전체초기화 */
*{
    margin: 0px;
    padding: 0px;
    font-family: '맑은고딕','malgun Gothic';

}
a{
    text-decoration: none;

}
li{
    list-style: none;  /* 목록요소 순서 제거 */
}
/* 페이지 구성하기 */
body{
    width: 960px;/* 가로사이즈 */
    margin: 0px auto;/* 가운데정렬 */
    background: #E6E6E6;
}
#page-wrapper{
    background: white;
    margin: 40px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px black;
}
