@charset "utf-8";
/* 시맨틱 태그로 레이아웃 구성
태그이름      설명
header        문서의 헤더부분의 구조를 나타내는 태그
nav           문서의 네비게이션 구조를 나타내는 태그
figure        문서의 멀티미디어 요소를 나타내는 태그
section       특정 콘텐츠들을 그룹화시켜주는 태그
article       작은 의미 단위의 콘텐츠를 나타내느 태그
footer        문서의 푸터 부분의 구조를 나타내는 태그
aside         문서의 사이드 콘텐츠 즉 본문과는 다른 서브 콘텐츠를 나타내는 태그 
*/
*{
    list-style: none;
}
header{
    width: 960px;
    height: 100px;
    background-color: #555;
    margin: 0 auto;
}
header nav{
    width: 600px;
    height: 40px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    background: #888;
}
figure{
    width: 960px;
    height: 300px;
    background-color: #ccc;
    margin: 0 auto;
}
section{
    width: 960px;
    margin: 0 auto;
}
section article{
    width: 319px;
    height: 300px;
    background: #555;
    margin-right: 1px;
    float: left;
}
aside{
    position: absolute;
    top: 100px;
    right: 0px;
    width: 100px;
    height: 400px;
    background-color: #aaa;
}
footer{
    width: 960px;
    height: 80px;
    background-color: #333;
    margin: 0 auto;
    clear: both;
}
/*
    부모요소에서 자식요소에 대한 float  속성 해제
clear:both
*/

