@charset "utf-8";

/* 
바깥쪽 여백 지정하기
margin      px      바깥쪽여백 px
            %       부모태그 기준 바깥쪽여백 %
            vw      웹브라우저 너비기준 바깥쪽여백 백분율 단위
            vh      웹브라우저 높이기준 바깥쪽여백
            백분율 단위
*/
/* 초기화 작업 */
*{
    font-size: 20px;
    font-family: "굴림";
    margin: 0px;
}

article{
    width: 50px;
    height: 30px;
    border: 1px solid red;
}
/* 바깥쪽 여백을 상하좌우 20 */
article:nth-of-type(1){
    margin: 20px;
}
/* 바깥쪽여백을 상하 20 좌우 50 */
article:nth-of-type(2){
    margin: 20px 50px;
}
/* 바깥쪽여백 상하 20 좌우는 무조건 중앙 */
article:nth-of-type(3){
    margin: 20px auto;
}
 /* 바깥쪽 여백 위쪽 20 좌우는 중앙 아래쪽 40 */
article:nth-of-type(4){
    margin: 20px auto 40px;
}
/* 바깥쪽여백을 시계방향으로 상우하좌로 지정 */
article:nth-of-type(5){
    margin: 0px 10px 20px 30px;
}
/* 바깥쪽 여백을 왼쪽으로 20만큼 지정 */
article:nth-of-type(6){
    margin-left: 20px;
}
/* 바깥쪽 여백을 오른쪽으로 20 */
article:nth-of-type(7){
    margin-right: 20px;
}
/* 바깥쪽 여백을 위쪽으로 20 */
article:nth-of-type(8){
    margin-top: 20px;
}
/* 바깥쪽 여백을 아래쪽으로 20 */
article:nth-of-type(9){
    margin-bottom: 20px;}

.aa{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    font-size: 30px;
    margin-left:20px;
}
.bb{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    font-size: 30px;
    margin-left:20vw;
}