@charset "utf-8";
/* 
안쪽여백
padding     px      안쪽여백 px
            %       부모태그 기준 안쪽여백 퍼센트단위
            vw      웹브라우저 너비기준 백분율단위
            vh      웹브라우저 높이 기준 백분율단위
*/
/* 초기화 작업 */
*{
    font-size: 20px;
    font-family: "굴림";
    margin: 30px;

}

article{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

article:nth-of-type(1){
    padding: 0px;
}
article:nth-of-type(2){
    padding: 30px;
}

/* 
 box sizing: 블록요소의 넓이와 높이 값 안에 padding과 border 값 포함하기
 box-sizing:border-box;
*/
div{
    width: 300px;
    height: 300px;
    background: lightblue;
    margin: 50px;
    font-size: 60px;
    float: left;
}
 div:nth-of-type(2){
    padding: 50px;
    border: 20px solid #666;
 }

 div:nth-of-type(3){
    padding: 50px;
    border: 20px solid #666;
    box-sizing: border-box;
 }