@charset "utf-8";
/* 자식요소의 순서 지정하기 */
/* *{
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    background: lightcyan;
    display: flex;
}

section article{
    width: 100px;
    height: 100px;
    background: aqua;
    border: 1px solid #000;
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
section article:nth-of-type(1){
    order: 2;
}
section article:nth-of-type(2){
    order: 3;
}
section article:nth-of-type(3){
    order: 1;
} */
/*요소의 여백비율 지정하기 */
/* *{
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    background: lightcyan;
    display: flex;
}

section article{
    background: aqua;
    border: 1px solid #000;
    font-size: 50px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
}
section article:nth-of-type(1){
    flex-grow: 1;
}
section article:nth-of-type(2){
    flex-grow: 3;
}
section article:nth-of-type(3){
    flex-grow: 2;
} */
/*요소의 안쪽여백 지정하기 */
*{
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    background: lightcyan;
    display: flex;
}

section article{
    width: 400px;
    background: aqua;
    border: 1px solid #000;
    font-size: 50px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
}
section article:nth-of-type(1){
    flex: 1;
}
section article:nth-of-type(2){
    flex: 2;
}
section article:nth-of-type(3){
    flex: 3;
}