@charset "utf-8";
/* flex 자식요소 정렬
justify-content     flex-start      자식요소를 시작방향으로 정렬(default)
                    flex-end        자식요소를 종료방향으로 정렬
                    center          자식요소를 가운데로 정렬
                    space-between   자식요소들의 좌우 사이 여백만 균일하게 배분하여 정렬
                    space-around    자식요소들의 여백을 균일하게 배분해서 정렬
                    space-evenly    자식요소들의 여백을 양끝까지 균일하게 배분해서 정렬

*/
/* 반대축 정렬
align-content       flex-start      자식요소를 시작방향으로 정렬  
또는 align-items    flex-end        자식요소를 종료방향으로 정렬
                    cneter          자식요소를 가운데방향으로 정렬
                    space-between   자식요소들의 좌우 사이 여백만 균일하게 배분해서 정렬
                    space-around    자식요소들의 여백을 균일하게 배분해서 정렬
                    space-evenly    자식요소들의 여백을 양끝까지 균일하게 배분해서 정렬

*/
*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    height: 100vh;
    background: lightcyan;
}
section{
    width: 100%;
    height: 100%;
    border: 10px solid blue;
    /* display: flex; */
    /* display: inline-flex;
    flex-direction: column; */
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
}
section article{
    width: 100px;
    height: 100px;
    background: aqua;
    border: 1px solid #000;
}   