@charset "utf-8";

/*
overflow-내부의 요소가 부모의 범위를 벗어날 때 요소를 처리하는 방법 지정
overflow    hidden  영역을 벗어나는 부분 감춤
            scroll  영역을 벗어나는 부분을 스크롤로
*/
/*
line-height 글자의 높이를 지정
*/



.aa{
    width: 400px;
    height: 100px;
    border: 3px solid black;
    position: relative;
    /* overflow 속성 지정 */
    overflow: scroll;
}
.box{
    width: 100px;
    height: 100px;
    position: absolute;
}
.box:nth-of-type(1){
    background-color: red;
    left: 10px;
    top: 10px;
    z-index: 100;
}
.box:nth-of-type(2){
    background-color: green;
    left: 50px;
    top: 50px;
    z-index: 50;
}
.box:nth-of-type(3){
    background-color: blue;
    left: 90px;
    top: 90px;
    z-index: 1;
}

.font_big{
    font-size: 2em;
}
.font_italic{
    font-style: italic;
}
.font_bold{
    font-weight: bold;
}
.font_center{
    text-align: center;
    text-decoration: none;
}
.button{
    width: 150px;
    height: 70px;
    background-color: #ff6A00;
    border: 10px solid #FFF;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #A9A9A9;
}
.button a{
    display: block;
    line-height: 70px;
}