@charset "utf-8";
/* import 구글 웹폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


/* 전체초기화 */
*{
    margin: 0px;
    padding: 0px;
    font-family: '맑은고딕','malgun Gothic';

}
a{
    text-decoration: none;

}
li{
    list-style: none;  /* 목록요소 순서 제거 */
}
/* 페이지 구성하기 */
body{
    width: 960px;/* 가로사이즈 */
    margin: 0px auto;/* 가운데정렬 */
    background: #e6e6e6;
    /* background:linear-gradient(to right, yellow, white) */
}
#page-wrapper{
    background: white;
    margin: 40px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px black;
}

/* header 구성하기 */
#main-header{
    padding: 40px 50px;
    text-align: center;
    background: linear-gradient(to bottom, lightblue, white);
}
#main-header:hover{
    background: linear-gradient(to top, red, white);
}
.master-title{
    font-size: 30px;
    color: #181818;
}
.master-description{
    font-size: 15px;
    font-weight: bold;
    color: #383838;
}

/* nav 및 pull-down menu 구성하기 */
#main-navigation{
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    height: 40px; 
    /* 높이를 강제로 지정 */
    margin-bottom: 20px;
}
.outer-menu-item{
    float: left;
    position: relative;
}
.outer-menu-item:hover{
    background: black;
    color: white;
    /* 마우스를 가져다 뒀을 때 */
}
.menu-title{
    display: block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 80px;
}
.inner-menu{
    display: none;
    /* 서브메뉴는 자바스크립트나 제이쿼리로 커서를 다가갔을 때 나타나게 가능 */
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 6px rgba(5,5,5,0.9);
    text-align: center;
    z-index: 100;
}
.inner-menu-item a{
    display: block;
    padding: 5px 10px;
    color: black;
}
.inner-menu-item a:hover{
    background: black;
    color: white;
}
/* 검색양식 추가 */
.search-bar{
    height: 26px;
    padding: 7px;
    float: right;
}
.input-search{
    display: block;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    width: 120px;
    height: 24px;
    padding: 0px 0px 0px 10px;
    font-size: 12px;
    color: #555555;
    float: left;}
/* focus 해당 요소 선택시 */
    .input-search:focus{
        border-color: rgba(82,168,236,0.8);
        box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
        outline: 0;

}
.input-search-submit{
    display: block;
    float: left;
    width: 50px;
    height: 26px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #cccccc;
}
/* 본문작업 */
/* body 너비 960  */
#content{
    overflow: hidden;
    width: 906px;
    
}
#main-section1{
    width: 300px;
    height:550px;
    text-align: center;
    float: left;

}
#main-section2{
    width: 300px;
    height:550px;
    text-align: center;
    float: left;

}
#main-section3{
    width: 300px;
    height:550px;
    text-align: center;
    float: left;

}
/* 본문좌측영역 */
article{
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid #c8c8c8;
}
.article-header1{
    padding:20px 0px;
    background: linear-gradient(to right, rgb(10, 163, 214), white );
    width: 303px;
}
.article-header2{
    padding: 20px 0px;
    background: linear-gradient(to right, rgb(245, 234, 134), white );
    width: 303px;
}
.article-header3{
    padding: 20px 0px;
    background: linear-gradient(to right, rgb(255, 102, 102), white );
    width: 303px;
}
.article-title1{
    font-family: 'monoton', cursive;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}
.article-title{

    font-size: 25px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}
.article-date{
    font-size: 15px;
}
.article-body{
    font-size: 17px;
    width: 300px;
    text-align: center;
}
/* 본문 우측영역 */
#main-aside{
    float: right;
    width: 200px;
}
.aside-list{
    padding: 10px 0px 30px 0px;
}
.aside-list h3{
    font-size: 20px;
    font-weight: bold;
}
.aside-list li a{
    margin-left: 8px;
    font-size: 15px;
    color: #6c6c6c;
}
/* footer 영역 */
#main-footer{
    padding: 20px 20px;
    display: block;
    height: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}